p{
	color: red;
}

.dev1{
	color: green;
}
.dev2{
	color: yellow;
}
.dev3{
	color: purple;
}
.dev4{
	color: pink;
}
.dev1{
	color: brown;
}


span{
	font-size: 30px;
}
#dev6{
	color: steelblue;
}
#dev7{
	color: hotpink;
}
#dev8{
	color: chocolate;
}
#dev9{
	color: gold;
}
#dev10{
	color: silver;
}
